* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
}

header h1,
section h2,
section h3 {
    font-weight: normal;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1rem;
    background-color: #182C61;
    color: #ECF0F1;
}

header nav li {
    display: inline;
    margin-inline-start: 1rem;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    color: #ECF0F1;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-inline-end: .5rem;
}

section .container {
    align-items: flex-start;
    gap: 2rem;
}

section {
    padding: 2rem 1rem;
}

section {
    color: #182C61;
}

section p {
    margin-bottom: .5rem;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-inline-end: .5rem;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-block-end: 1rem;
    padding: .5rem;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-block-end: 1rem;
}

form button {
    background-color: #182C61;
    border: none;
    color: #ECF0F1;
}

form button:hover {
    background-color: #2e4fa8;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
    color: #ECF0F1;
    padding: 1rem;
    text-align: center;
}
